<section class="services-section">
    <h2>Activites Culturelles</h2>
    <div class="services-container">
        <div class="service-card">
            <img src="/ngondo.jpg" alt="Image de l'Hôtel Grand Central">
            <div class="card-content">
                <h3>Ngondo</h3>
                <p>Situé au cœur de la ville, cet hôtel offre une vue imprenable et des services de luxe. Idéal pour les voyages d'affaires ou les escapades romantiques.</p>
                <span class="price">Localisation: Douala</span>
                <span class="price">Prix: 10000FCFA</span>
                <a href="#" class="btn-reserve">Reserver</a>
            </div>
        </div>

        <div class="service-card">
            <img src="/gee.png" alt="Image de l'Hôtel Le Rivage">
            <div class="card-content">
                <h3>Gee Bagagnte</h3>
                <p>Un havre de paix en bord de mer, avec un accès direct à la plage privée. Parfait pour se détendre et profiter du soleil.</p>
                <span class="price">Localisation: Douala</span>
                <span class="price">Prix: 10000FCFA</span>
                <a href="#" class="btn-reserve">Reserver</a>
            </div>
        </div>

        <div class="service-card">
            <img src="/i.jpeg" alt="Image de l'Hôtel Le Rivage">
            <div class="card-content">
                <h3>Hôtel Le Rivage</h3>
                <p>Un havre de paix en bord de mer, avec un accès direct à la plage privée. Parfait pour se détendre et profiter du soleil.</p>
                <span class="price">Localisation: Douala</span>
                <span class="price">Prix: 10000FCFA</span>
                <a href="#" class="btn-reserve">Reserver</a>
            </div>
        </div>

        <div class="service-card">
            <img src="/i.jpeg" alt="Image de l'Hôtel Le Rivage">
            <div class="card-content">
                <h3>Hôtel Le Rivage</h3>
                <p>Un havre de paix en bord de mer, avec un accès direct à la plage privée. Parfait pour se détendre et profiter du soleil.</p>
                <span class="price">Localisation: Douala</span>
                <span class="price">Prix: 10000FCFA</span>
                <a href="#" class="btn-reserve">Reserver</a>
            </div>
        </div>
    </div>

     <div class="pagination">
        <button disabled>&laquo;</button>
        <button class="active">1</button>
        <button>2</button>
        <button>3</button>
        <button>&raquo;</button>
    </div>
</section>

<section class="services-section">
     <h2>Hébergement</h2>
    <div class="services-container">
        <div class="service-card">
            <img src="/hotel1.jpg" alt="Image de l'Appartement Cosy">
            <div class="card-content">
                <h3>Hotel de ville Bagagnte</h3>
                <p>Un appartement moderne et entièrement équipé, idéal pour un séjour prolongé. Cuisine, salon, et chambre séparée pour plus de confort.</p>
                <span class="price">Localisation: Bagagnte</span>
                <span class="price">Prix: 10000FCFA</span>
                <a href="#" class="btn-reserve">Explorer</a>
            </div>
        </div>

        <div class="service-card">
            <img src="/hotel3.jpg" alt="Image de la Villa avec Piscine">
            <div class="card-content">
                <h3>Hotel de ville Douala</h3>
                <p>Profitez de l'intimité d'une villa avec sa propre piscine. Un lieu parfait pour des vacances en famille ou entre amis.</p>
                 <span class="price">Localisation: Douala</span>
                <span class="price">Prix: 10000FCFA</span>
                <a href="#" class="btn-reserve">Reserver</a>
            </div>
        </div>

        <div class="service-card">
            <img src="/hotel4.jpg" alt="Image de la Villa avec Piscine">
            <div class="card-content">
                <h3>Hotel de ville Yaoundé</h3>
                <p>Profitez de l'intimité d'une villa avec sa propre piscine. Un lieu parfait pour des vacances en famille ou entre amis.</p>
                <span class="price">Localisation: Yaoundé</span>
                <span class="price">Prix: 10000FCFA</span>
                <a href="#" class="btn-reserve">Reserver</a>
            </div>
        </div>

        <div class="service-card">
            <img src="/kribi.jpeg" alt="Image de la Villa avec Piscine">
            <div class="card-content">
                <h3>Campement Kribi</h3>
                <p>Profitez de l'intimité d'une villa avec sa propre piscine. Un lieu parfait pour des vacances en famille ou entre amis.</p>
                 <span class="price">Localisation: Douala</span>
                 <span class="price">Prix: 10000FCFA</span>
                <a href="#" class="btn-reserve">Reserver</a>
            </div>
        </div>
    </div>

     <div class="pagination">
        <button disabled>&laquo;</button>
        <button class="active">1</button>
        <button>2</button>
        <button>3</button>
        <button>&raquo;</button>
    </div>
</section>


<section class="services-section">
     <h2>Vehicules</h2>
    <div class="services-container">
        <div class="service-card">
            <img src="/voiture.png" alt="Image de l'Appartement Cosy">
            <div class="card-content">
                <h3>Tour de ville</h3>
                <p>Un appartement moderne et entièrement équipé, idéal pour un séjour prolongé. Cuisine, salon, et chambre séparée pour plus de confort.</p>
                <span class="price">Localisation: Douala</span>
                <span class="price">Prix: 10000FCFA</span>
                <a href="#" class="btn-reserve">Reserver</a>
            </div>
        </div>

        <div class="service-card">
            <img src="/voiture.png" alt="Image de la Villa avec Piscine">
            <div class="card-content">
                <h3>Tour de ville</h3>
                <p>Profitez de l'intimité d'une villa avec sa propre piscine. Un lieu parfait pour des vacances en famille ou entre amis.</p>
                 <span class="price">Localisation: Douala</span>
                <span class="price">Prix: 10000FCFA</span>
                <a href="#" class="btn-reserve">Reserver</a>
            </div>
        </div>

        <div class="service-card">
            <img src="/voiture.png" alt="Image de la Villa avec Piscine">
            <div class="card-content">
                <h3>Tour de ville</h3>
                <p>Profitez de l'intimité d'une villa avec sa propre piscine. Un lieu parfait pour des vacances en famille ou entre amis.</p>
                <span class="price">Localisation: Douala</span>
                <span class="price">Prix: 10000FCFA</span>
                <a href="#" class="btn-reserve">Reserver</a>
            </div>
        </div>

        <div class="service-card">
            <img src="/voiture.png" alt="Image de la Villa avec Piscine">
            <div class="card-content">
                <h3>Tour de ville</h3>
                <p>Profitez de l'intimité d'une villa avec sa propre piscine. Un lieu parfait pour des vacances en famille ou entre amis.</p>
                 <span class="price">Localisation: Douala</span>
                <span class="price">Prix: 10000FCFA</span>
                <a href="#" class="btn-reserve">Reserver</a>
            </div>
        </div>
    </div>

         <div class="pagination">
            <button disabled>&laquo;</button>
            <button class="active">1</button>
            <button>2</button>
            <button>3</button>
            <button>&raquo;</button>
        </div>
       
</section>