<app-navigation-component></app-navigation-component>

<div class="contener">

    <div class="dialog">
        
        <h1 class="titre">
            Nos services a votre disposition 
        </h1>
        <h3 class="sousTitre">
            Découvrez nos services de transport, d'hébergement et de guides touristiques pour une expérience inoubliable au Cameroun.
        </h3>

    </div>

</div>

<!-- Ici on intègre ton service component -->
<div class="services-wrapper">
  <app-service-card-component></app-service-card-component>
</div>

<app-footer-component></app-footer-component>

